@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Epilogue", sans-serif;
  // background-color: steelblue;
}
#cta {
  padding: 0.8rem 1.5rem 0.8rem 1.5rem;
  border: none;
  background-color: #000;
  color: #fff;
  border-radius: 12px;
  margin-bottom: 2rem;
  margin-top: 1rem;
  font-weight: 700;
}
nav {
  align-items: center;
  min-height: 5vh;
  background-color: #fff;
  overflow-y: hidden;
}
.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow-y: hidden;
}
.logo {
  color: #000;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}
.nav-links {
  padding-top: 2rem;
  display: flex;

  justify-content: space-around;

  z-index: 100;
}

.nav-links li {
  list-style: none;
}
.nav-links a {
  color: #000;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.burger {
  display: none;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: #000;
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 800px) {
  .clients {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
    margin-top: 0;
    .client {
      width: auto;
      height: 1rem;
      margin: 1rem;
    }
  }
  .left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h1 {
    text-align: center;
    padding: 1rem;
    padding-top: 2rem;
    font-size: 34px;
  }
  p {
    font-weight: 500;
    text-align: center;
    padding: 1rem;
    padding-top: 0;
  }
  nav {
    justify-content: space-between;
    padding: 1rem;
    z-index: 100;
  }

  .nav-links {
    position: absolute;
    left: 0px;
    transform: translateX(-100%);
    height: 95vh;
    top: 5vh;
    background-color: #fff;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    padding-left: 1.5rem;
    transition: transform 0.5s ease-in;
    justify-content: start;
    color: #000;
  }
  .nav-links li {
    opacity: 0;
    padding-bottom: 4rem;
  }
  .burger {
    display: block;
    cursor: pointer;
  }
  .logo {
    margin-left: 0.5rem;
  }
  .img-hero {
    max-width: 100%;
    max-height: auto;
  }
  .wrapper {
    display: flex;
    flex-direction: column-reverse;
  }
}
.nav-active {
  transform: translateX(0%);
}
@keyframes navLinkFade {
  fom {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
/*nav se*/
