@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Epilogue", sans-serif;
  // background-color: steelblue;
  overflow-y: hidden;
  overflow-x: hidden;
}

#cta {
  padding: 0.8rem 1.5rem 0.8rem 1.5rem;
  border: none;
  background-color: #000;
  color: #fff;
  border-radius: 12px;
  margin-bottom: 2rem;
  margin-top: 1rem;
  font-weight: 700;
}
nav {
  align-items: center;
  min-height: 5vh;
  background-color: #fff;
}
// select {
//   border: none;
//   font-size: 16px;
//   font-weight: 700;
// }

.logo {
  color: #000;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

.nav-links li {
  list-style: none;
}
.nav-links a {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  color: #000;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.burger {
  display: none;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: #000;
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (min-width: 750px) {
  .nav-wrapper {
    margin: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    overflow-y: hidden;
  }
  .nav-links {
    //padding-top: 2rem;
    display: flex;
    align-items: center;
    z-index: 100;
  }
  .button-right {
    display: flex;

    // margin-left: 20px;
  }
  .panel {
    background-color: white;
    position: absolute;
    flex-direction: column;

    overflow: hidden;
    padding: 1rem;
    // max-width: 80%;
  }

  .accordion {
    margin-right: 1rem;
    display: flex;

    flex-direction: row;
    cursor: pointer;
    transition: 0.4s;
    text-align: left;

    padding-left: 0;

    border: none;
    outline: none;

    background: transparent;
    overflow: hidden;
  }

  .active h2 {
    font-weight: bold;
  }
  .active,
  .accordion:hover {
    background-color: #fff;
  }

  .feature {
    display: flex;
    margin-left: 2rem;
    margin-top: 2rem;
    align-items: center;
    img {
      margin-right: 1rem;

      display: flex;
      align-items: center;
    }
  }

  .nav-active {
    transform: translateX(0%);
  }
  @keyframes navLinkFade {
    fom {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  .active h2 {
    font-weight: bold;
  }
  .active,
  .accordion:hover {
    background-color: #fff;
  }

  .active .arrowUp {
    // color: red;
    align-items: flex-start;
    display: flex;
    //  margin-right: 1rem;
  }
  .active .arrowDown {
    // color: red;
    align-items: flex-start;
    display: none;
  }
  .arrowDown {
    // margin-right: 1rem;
    // color: red;
    //  margin-left: 1rem;
    align-items: flex-start;
  }
  .arrowUp {
    display: none;
  }
  .button-right {
    align-items: center;
    #registerBtn {
      border: 1px solid #8e4cb6;

      padding: 0.5rem;

      border-radius: 12px;
      font-weight: 500;
      background: transparent;
      font-family: "Epilogue";
      font-size: 14px;
      color: #8e4cb6;
    }
  }
  .wrapper {
    margin: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  h1 {
    text-align: center;

    padding-bottom: 2rem;
    font-size: 64px;
  }
}
//Nav- Media querry
@media screen and (max-width: 750px) {
  .nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
  }
  .button-right {
    min-width: 100%;
    text-align: center;
    margin-top: 2rem;

    #registerBtn {
      border: 2px solid #8e4cb6;
      min-width: 100%;
      padding: 0.7rem;
      display: block;
      border-radius: 16px;
      font-weight: 700;
      background: transparent;
      font-family: "Epilogue";
      font-size: 18px;
      color: #8e4cb6;
    }
  }

  .clients {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
    margin-top: 0;
    .client {
      width: auto;
      height: 1rem;
      margin: 1rem;
    }
  }
  .left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h1 {
    text-align: center;
    padding: 1rem;
    padding-top: 2rem;
    font-size: 34px;
  }
  p {
    font-weight: 500;
    text-align: center;
    padding: 1rem;
    padding-top: 0;
  }
  nav {
    justify-content: space-between;
    padding: 1rem;
    z-index: 100;
  }
  .panel {
    background-color: white;

    flex-direction: column;
    overflow: hidden;
    // max-width: 80%;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    transform: translateX(100%);
    height: 95vh;
    top: 5vh;
    background-color: #fff;
    flex-direction: column;
    align-items: flex-start;
    width: 65%;
    padding-left: 2.5rem;
    padding-right: 1.5rem;
    transition: transform 0.5s ease-in;
    justify-content: start;
    color: #000;
    // background-color: steelblue;
  }
  .nav-links li {
    opacity: 0;
    padding-bottom: 2rem;
    width: 100%;
  }
  .nav-links a {
    margin-left: 0.5rem;

    color: #000;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
  }
  .burger {
    display: block;
    cursor: pointer;
  }
  .logo {
    margin-left: 0.5rem;
  }
  .img-hero {
    max-width: 100%;
    max-height: auto;
  }
  .wrapper {
    display: flex;
    flex-direction: column-reverse;
  }
  .nav-active {
    transform: translateX(0%);
  }
  @keyframes navLinkFade {
    fom {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  .feature {
    display: flex;
    margin-left: 2rem;
    margin-top: 2rem;
    align-items: center;
    img {
      margin-right: 1rem;

      display: flex;
      align-items: center;
    }
  }
  .accordion {
    margin-left: 0px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    transition: 0.4s;
    text-align: left;

    padding-left: 0;
    width: 80%;
    border: none;
    outline: none;

    background: #fff;
    overflow: hidden;
  }
  .arrowDown {
    // color: red;

    margin-left: 1rem;
    align-items: flex-start;
  }
  .arrowUp {
    display: none;
  }
}

/*nav se*/

//acordion start

/*nav se*/

//acordion start
